:root {
  --red: #F69C9C;
  --orange: #F5BD98;
  --yellow: #F0EB8D;
  --green: #A7F29D;
  --blue: #A7D2F5;
  --gray: gray;
  --grayblue: #C6C9D0;
  --black: #414141;
  --highlight: 255, 0, 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 150%;
  font-weight: bold;
  color: var(--black);
  border: 2px solid var(--gray);
  border-radius: 10px;

  flex: 1;
}

.edit {
  font-size: 120%;
  background-color: var(--red);
}

.symbol {
  font-size: 120%;
  background-color: var(--yellow);
}

.operator {
  background-color: var(--orange);
}

.equal {
  background-color: var(--green);
}

.number {
  background-color: var(--blue);
}

button:hover {
  filter: brightness(105%);
}

button:active {
  filter: brightness(95%);
}

input[type="text"] {
  width: 100%;
  text-align: right;
  border: 2px solid var(--gray);

  padding: 10px;
  font-size: 30px;
}

.display {
  padding: 10px;
  height: 100px;
}

.display > .main {
  height: 60%;
  border-top: none;
}

.display > .sub {
  height: 40%;
  font-size: 100%;
  margin-bottom: 0;
  border-bottom: none;
}

.calculator {
  border: 3px solid var(--gray);
  background-color: var(--grayblue);
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.buttons {
  padding: 10px;

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px
}

#btn_equal {
  flex-grow: 2;
}